<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Gait Global Housing </h1>

    <form action="{{ url_for('submit') }}" method = "POST">
    <p>Price <input type = "text" name = "price" id="price" /></p>
    <p>SQ.FT (Available between 700 and 2000) From <input type = "text" name = "sqft_from" id="sqft_from"/>  To <input type = "text" name = "sqft_to" id="sqft_to"/> </p>
    <p>No of Bedrooms <input type = "text" name = "bedroom"  id = "bedroom"/></p>
    <p><input type = "submit" value = "submit" /></p>


</form>

</body>
</html>